#GameTitleScreen {
	position: relative;
	border: 3px solid black;
	width:1200px;
	height:730px;
	max-width: 120%;
	background-image: url("images/BirdGameTitle.png");
	background-size: 1200px 730px;
}
			
#PlayButton {
	position: absolute;
	left: 46%;
	top: 46%;
	width: 100px;
	height: 30px;
	max-width: 100%;
	z-index: +2;
}
			
#CardLeft {
	cursor: pointer;
	position: absolute;
	width: 140px;
	height: 230px;
	left: 22%;
	top: 10%;
	max-width: 100%;
	z-index: +1;
	display: none;
	transition: transform .2s;
}

#CardLeft:hover {
    transform: scale(1.1);
}
			
#CardMiddle {
	cursor: pointer;
	position: absolute;
	width: 230px;
	height: 320px;
	left: 42%;
	top: 10%;
	max-width: 100%;
	z-index: +1;
	display: none;
	transition: transform .2s;
}

#CardMiddle:hover {
    transform: scale(1.1);
}
			
#CardRight {
	cursor: pointer;
	position: absolute;
	width: 230px;
	height: 320px;
	left: 62%;
	top: 10%;
	max-width: 100%;
	z-index: +1;
	display: none;
	transition: transform .2s;
}

#CardRight:hover {
    transform: scale(1.1);
}
			
#DeckCard1 {
	position: absolute;
	width: 120px;
	height: 180px;
	left: 28%;
	top: 72.5%;
	max-width: 100%;
	z-index: +1;
	transform: rotate(-10deg);
	transition: transform .2s;
}

#DeckCard1:hover {
	top: 58.5%;
	height: 200px;
    transform: scale(2);
    z-index: +2;
}
			
#DeckCard2 {
	position: absolute;
	width: 120px;
	height: 180px;
	left: 37%;
	top: 70.5%;
	max-width: 100%;
	z-index: +1;
	transform: rotate(-5deg);
	transition: transform .2s;
}

#DeckCard2:hover {
	top: 58.5%;
	height: 200px;
    transform: scale(2);
    z-index: +2;
}
			
#DeckCard3 {
	position: absolute;
	width: 120px;
	height: 180px;
	left: 46%;
	top: 70%;
	max-width: 100%;
	z-index: +1;
	transition: transform .2s;
}

#DeckCard3:hover {
	top: 58.5%;
	height: 200px;
    transform: scale(2);
    z-index: +2;
}
			
#DeckCard4 {
	position: absolute;
	width: 120px;
	height: 180px;
	left: 55%;
	top: 70.5%;
	max-width: 100%;
	z-index: +1;
	transform: rotate(5deg);
	transition: transform .2s;
}

#DeckCard4:hover {
	top: 58.5%;
	height: 200px;
    transform: scale(2);
    z-index: +2;
}
			
#DeckCard5 {
	position: absolute;
	width: 120px;
	height: 180px;
	left: 64%;
	top: 72.5%;
	max-width: 100%;
	z-index: +1;
	transform: rotate(10deg);
	transition: transform .2s;
}

#DeckCard5:hover {
	top: 58.5%;
	height: 200px;
    transform: scale(2);
    z-index: +2;
}

#OpponentCard1 {
	position: absolute;
	width: 120px;
	height: 180px;
	left: 28%;
	top: 2.5%;
	max-width: 100%;
	z-index: +1;
	display: none;
	transform: rotate(10deg);
}
			
#OpponentCard2 {
	position: absolute;
	width: 120px;
	height: 180px;
	left: 37%;
	top: 4.5%;
	max-width: 100%;
	z-index: +1;
	display: none;
	transform: rotate(5deg);
}
			
#OpponentCard3 {
	position: absolute;
	width: 120px;
	height: 180px;
	left: 46%;
	top: 5%;
	max-width: 100%;
	z-index: +1;
	display: none;
}
			
#OpponentCard4 {
	position: absolute;
	width: 120px;
	height: 180px;
	left: 55%;
	top: 4.5%;
	max-width: 100%;
	z-index: +1;
	display: none;
	transform: rotate(-5deg);
}
			
#OpponentCard5 {
	position: absolute;
	width: 120px;
	height: 180px;
	left: 64%;
	top: 2.5%;
	max-width: 100%;
	z-index: +1;
	display: none;
	transform: rotate(-10deg);
}

#Pile {
	position: absolute;
	width: 120px;
	height: 180px;
	left: 84%;
	top: 37%;
	z-index: +1;
	display: none;
	transform: rotate(180deg);
}

#GameBoard {
	position: relative;
	width:1200px;
	height:730px;
	border:3px solid black; 
	display:none;
	background-image: url("images/WoodTableSurface2.jpg"); 
	background-size: 1200px 720px;
}