#GameTitleScreen {
	border: 3px solid black;
	width:1200px;
	height:730px;
	max-width: 120%;
}
			
#PlayButton {
	position: absolute !important;
	left: 45%;
	top: 25%;
	width: 100px;
	height: 30px;
	max-width: 100%;
}
			
#CardLeft {
	cursor: pointer;
	position: absolute;
	width: 140px;
	height: 230px;
	left: 22%;
	top: 62%;
	max-width: 100%;
	z-index: +1;
	display: none;
}
			
#CardMiddle {
	cursor: pointer;
	position: absolute;
	width: 230px;
	height: 320px;
	left: 42%;
	top: 62%;
	max-width: 100%;
	z-index: +1;
	display: none;
}
			
#CardRight {
	cursor: pointer;
	position: absolute;
	width: 230px;
	height: 320px;
	left: 62%;
	top: 62%;
	max-width: 100%;
	z-index: +1;
	display: none;
}
			
#DeckCard1 {
	position: absolute;
	width: 172.5px;
	height: 240px;
	left: 19.9%;
	top: 121.5%;
	max-width: 100%;
	z-index: +1;
}
			
#DeckCard2 {
	position: absolute;
	width: 172.5px;
	height: 240px;
	left: 31.9%;
	top: 121.5%;
	max-width: 100%;
	z-index: +1;
}
			
#DeckCard3 {
	position: absolute;
	width: 172.5px;
	height: 240px;
	left: 43.9%;
	top: 121.5%;
	max-width: 100%;
	z-index: +1;
}
			
#DeckCard4 {
	position: absolute;
	width: 172.5px;
	height: 240px;
	left: 55.9%;
	top: 121.5%;
	max-width: 100%;
	z-index: +1;
}
			
#DeckCard5 {
	position: absolute;
	width: 172.5px;
	height: 240px;
	left: 67.9%;
	top: 121.5%;
	max-width: 100%;
	z-index: +1;
}

#OpponentCard1 {
	position: absolute;
	width: 172.5px;
	height: 240px;
	left: 20.1%;
	top: 56.8%;
	max-width: 100%;
	z-index: +1;
	display: none;
}
			
#OpponentCard2 {
	position: absolute;
	width: 172.5px;
	height: 240px;
	left: 32%;
	top: 56.8%;
	max-width: 100%;
	z-index: +1;
	display: none;
}
			
#OpponentCard3 {
	position: absolute;
	width: 172.5px;
	height: 240px;
	left: 44%;
	top: 56.8%;
	max-width: 100%;
	z-index: +1;
	display: none;
}
			
#OpponentCard4 {
	position: absolute;
	width: 172.5px;
	height: 240px;
	left: 55.9%;
	top: 56.8%;
	max-width: 100%;
	z-index: +1;
	display: none;
}
			
#OpponentCard5 {
	position: absolute;
	width: 172.5px;
	height: 240px;
	left: 67.8%;
	top: 56.8%;
	max-width: 100%;
	z-index: +1;
	display: none;
}

#Deck {
	position: absolute;
	background: lightblue;
	left: 20%;
	top: 32.45%;
	width: 860px;
}

#PlayButton {
	position: absolute;
	left: 45%;
	top: 100%;
	z-index: +2;
}